.search_container {
  height: 100%;
  width: 100%;
  padding-top: 10%;
  padding-left: 30%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.button {
  background-color: #343a40; /* Green */
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: orange;
  color: white;
}
body {
  background-image: url("./photos/wallpaper1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
